In [251]:
import pandas as pd
import numpy as np

In [252]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [253]:
from cold_start import fillna_with_mean

In [254]:
df = pd.DataFrame({'group': [1, 1, 2], 'target': [np.nan, 5, 6]})
df

   group  target
0      1     NaN
1      1     5.0
2      2     6.0

In [255]:
target = 'target'
group = 'group'
no_nans = df.dropna(subset=[target])
group_means = no_nans.groupby(group).mean()
group_means

       target
group
1         5.0
2         6.0

In [256]:
group_means.loc[1]

target    5.0
Name: 1, dtype: float64

In [257]:
df.apply(
        lambda x: group_means.loc[x[group]]
        if np.isnan(x[target])
        else x[target],
        axis=1,
    )

   target
0     5.0
1     5.0
2     6.0

In [258]:
df

   group  target
0      1     NaN
1      1     5.0
2      2     6.0

In [259]:


fillna_with_mean(df, target, group)

   group  target
0      1     5.0
1      1     5.0
2      2     6.0

In [260]:
df = pd.DataFrame({'group': [1, 1, 2], 'target': [5, 5, 6]})
fillna_with_mean(df, target, group)

   group  target
0      1       5
1      1       5
2      2       6

In [261]:
import pandas as pd
import numpy as np
data = {'monday': ['2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05'],
'product_id': [6, 0, 4, 8, 2, 1, 5, 9, 7, 3],
'category': [3, 0, 2, 0, 2, 5, 4, 0, 5, 5],
'sales': [35.0, np.nan, 67.0, 4.0, np.nan, np.nan, 32.0, 86.0, 72.0, 5.0]}
df = pd.DataFrame(data)
print(df)

       monday  product_id  category  sales
0  2020-01-05           6         3   35.0
1  2020-01-05           0         0    NaN
2  2020-01-05           4         2   67.0
3  2020-01-05           8         0    4.0
4  2020-01-05           2         2    NaN
5  2020-01-05           1         5    NaN
6  2020-01-05           5         4   32.0
7  2020-01-05           9         0   86.0
8  2020-01-05           7         5   72.0
9  2020-01-05           3         5    5.0

In [262]:
fillna_with_mean(df, 'sales', 'category')

/Users/btseitlin/Documents/simulator-ml/cold_start/cold_start.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(group_means)

       monday  product_id  category  sales
0  2020-01-05           6         3   35.0
1  2020-01-05           0         0   45.0
2  2020-01-05           4         2   67.0
3  2020-01-05           8         0    4.0
4  2020-01-05           2         2   67.0
5  2020-01-05           1         5   38.0
6  2020-01-05           5         4   32.0
7  2020-01-05           9         0   86.0
8  2020-01-05           7         5   72.0
9  2020-01-05           3         5    5.0

In [263]:
import pandas as pd
data = {'monday': ['2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05', '2020-01-05'],
'product_id': [6, 0, 4, 8, 2, 1, 5, 9, 7, 3],
'category': [3, 0, 2, 0, 2, 5, 4, 0, 5, 5],
'sales': [35.0, 45.0, 67.0, 4.0, 67.0, 38.0, 32.0, 86.0, 72.0, 5.0]}
df = pd.DataFrame(data)
df

       monday  product_id  category  sales
0  2020-01-05           6         3   35.0
1  2020-01-05           0         0   45.0
2  2020-01-05           4         2   67.0
3  2020-01-05           8         0    4.0
4  2020-01-05           2         2   67.0
5  2020-01-05           1         5   38.0
6  2020-01-05           5         4   32.0
7  2020-01-05           9         0   86.0
8  2020-01-05           7         5   72.0
9  2020-01-05           3         5    5.0

In [264]:
data = {
    'group': ['A', 'A', 'B', 'B', 'C', 'C'],
    'target': [10, np.nan, 5, 5, np.nan, np.nan]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df_filled = fillna_with_mean(df, 'target', 'group')
print("\nDataFrame with NaNs filled:")
print(df_filled)

Original DataFrame:
  group  target
0     A    10.0
1     A     NaN
2     B     5.0
3     B     5.0
4     C     NaN
5     C     NaN

KeyError: 'C'